nav {
    background-color: lightyellow;
    flex-grow: 5;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type:none ; /*No bullet Points*/
    align-items:center;
}

nav ul li a {
    text-decoration: none; /*No Line Under*/
}

.logo {
    flex-grow: 1;
}

.profile {
    flex-grow: 1;
}